@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  --main-color: #c0392b;
  --body-bg: #181616;
  --box-bg: #221f1f;
  --text-color: #ffffff;

  --nav-height: 60px;
  --space-top: 30px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

div,
p {
  word-break: break-word;
}

html {
  font-size: 16px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--body-bg);
  color: var(--text-color);
  padding-top: var(--nav-height);
}

a {
  text-decoration: none;
  color: unset;
}

img {
  max-width: 100%;
}

.main-color {
  color: var(--main-color);
}

.container {
  max-width: 1920px;
  padding: 0 40px;
  margin: auto;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 90;
  background-color: #000000;
}

.nav {
  display: flex;
  align-items: center;
  color: var(--text-color);
  height: var(--nav-height);
}
.nav > .logo {
  flex-grow: 1;
}
.nav a {
  color: var(--text-color);
}

.logo {
  font-size: 2rem;
  font-weight: 900;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.nav-menu li ~ li {
  margin-left: 30px;
}

.nav-menu a {
  text-transform: uppercase;
  font-weight: 700;
}

.nav-menu a:hover {
  color: var(--main-color);
}

.nav-menu a.btn:hover,
a.logo:hover,
a.movie-item:hover {
  color: unset;
}

.btn {
  color: #ffffff;
  padding: 0.25rem 1.5rem;
  text-transform: uppercase;
  font-size: 14px;
  outline: none;
  font-weight: 700;
  border: 1px solid transparent;
  display: inline-flex;
  cursor: pointer;
  position: relative;
  align-items: center;
}

.btn-hover::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: var(--main-color);
  transition: 0.3s ease-in-out;
}

.btn-hover:hover::before {
  width: 100%;
}

.btn i,
.btn span {
  z-index: 1;
}

.btn-play {
  border-radius: 4px;
  background-color: #4a90e2;
  color: #fff;
  border: 2px solid #1c5da8;
  transition: all 0.3s ease;
}
.btn-play:hover {
  background-color: #1c4f8a;
}
.btn-order {
  border-radius: 4px;
  background-color: #e07334;
  color: #fff;
  border: 2px solid #8b3808;
  transition: all 0.3s ease;
}
.btn-order:hover {
  background-color: #b1521b;
}
.hamburger-menu {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  cursor: pointer;
  z-index: 101;
  position: relative;
  display: none;
  align-items: center;
}

.hamburger {
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: var(--size);
  height: 3px;
  border-radius: 0.5rem;
  background-color: var(--text-color);
  transition: 0.4s;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger-menu.active .hamburger {
  background-color: transparent;
}

.hamburger-menu.active .hamburger::before {
  transform-origin: top left;
  transform: rotate(45deg);
  left: 6px;
}

.hamburger-menu.active .hamburger::after {
  transform-origin: bottom left;
  transform: rotate(-45deg);
  left: 6px;
}

.hero-slide-item {
  padding-top: 40%;
  position: relative;
  overflow: hidden;
}

.hero-slide-item img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.flex {
  display: flex;
}
.hero-slide-item-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--text-color);
  display: flex;
}

.item-content-wraper {
  padding-left: 5rem;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.item-content-wraper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.item-content-title {
  font-size: 5rem;
  line-height: 5rem;
  font-weight: 900;
}

.movie-infos {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: calc(var(--space-top) / 2);
}

.movie-info {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  font-weight: 600;
}

.movie-info span {
  margin-left: 5px;
}

.movie-info i {
  color: var(--main-color);
}

.movie-info ~ .movie-info {
  margin-left: 5px;
}

.item-content-description {
  font-size: 1.15rem;
  margin-top: var(--space-top);
  line-height: 1.5rem;
}

.item-action {
  margin-top: var(--space-top);
}

.carousel-nav-center {
  position: relative;
}

.carousel-nav-center .owl-nav button i {
  font-size: 3rem;
}

.carousel-nav-center .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-nav-center .owl-nav .owl-prev {
  position: absolute;
  left: 5px;
}

.carousel-nav-center .owl-nav .owl-next {
  position: absolute;
  right: 5px;
}

.owl-nav button {
  border: none;
  outline: none;
}

.owl-nav button i {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
}

.owl-nav button:hover i {
  color: var(--main-color);
}

.top-down {
  transform: translateY(-50px);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.delay-2 {
  transition-delay: 0.2s;
}

.delay-4 {
  transition-delay: 0.4s;
}

.delay-6 {
  transition-delay: 0.6s;
}

.delay-8 {
  transition-delay: 0.8s;
}

.owl-item.active .top-down {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.movie-item {
  display: block;
  position: relative;
  overflow: hidden;
  padding-top: 140%;
  cursor: pointer;
}

.movie-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s linear;
}

.movie-item:hover img {
  transform: scale(1.2);
}

.movie-item-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.8);
}

.movie-item-content::before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
}

.movie-item-title {
  color: var(--text-color);
  font-size: 1.5rem;
  position: relative;
  font-weight: 700;
}

.section {
  padding-top: 80px;
}

.section-header {
  margin-bottom: 30px;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  border-left: 4px solid var(--main-color);
  display: flex;
  align-items: center;
}

.pricing-header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.pricing-box {
  padding: 50px;
  margin: 15px 0;
  background-color: var(--box-bg);
  border-top: 5px solid transparent;
  transition: transform 0.3s ease-in-out;
}

.pricing-box:hover {
  transform: translateY(-20px);
}

.pricing-box.hightlight {
  border-top: 5px solid var(--main-color);
}

.pricing-box-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.pricing-price {
  font-weight: 700;
}

.pricing-price span {
  font-size: 1rem;
}

.pricing-box-content {
  text-align: center;
  margin-top: 60px;
  font-size: 1.25rem;
}

.pricing-box-action {
  text-align: center;
  margin-top: 60px;
}

footer.section {
  margin-top: 80px;
  padding-bottom: 80px;
  position: relative;
  background-color: var(--box-bg);
}

footer a:hover {
  color: var(--main-color);
}

footer a.logo {
  margin-top: -2.5rem;
  display: block;
}

footer a.logo:hover {
  color: unset;
}

.social-list {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.social-item {
  --size: 30px;
  height: var(--size);
  width: var(--size);
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: var(--text-color);
  color: var(--main-color);
}

.social-item:hover {
  background-color: var(--main-color);
  color: var(--text-color);
}

.social-item ~ .social-item {
  margin-left: 20px;
}

footer .content {
  margin-top: 20px;
}

.footer-menu {
  list-style-type: none;
}

.footer-menu a {
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

.footer-menu a:hover {
  transform: translateX(5px);
}

.copyright {
  padding: 10px;
  border-top: 1px solid var(--body-bg);
  background-color: var(--box-bg);
  text-align: center;
}

/* RESPONSIVE */

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .hero-slide-item {
    padding-top: 50%;
  }

  .item-content-wraper {
    width: 50%;
  }
}

@media only screen and (max-width: 850px) {
  html {
    font-size: 12px;
  }

  .container {
    padding: 0 15px;
  }

  .hero-slide-item {
    height: max-content;
    padding-top: unset;
  }

  .item-content-wraper {
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    padding-right: 5rem;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .hero-slide-item-content {
    position: relative;
  }

  .hero-slide-item img {
    height: 100%;
  }

  .item-content-title {
    font-size: 3rem;
  }

  .hamburger-menu {
    display: grid;
  }

  .nav-menu {
    /* display: none; */
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #000000;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    padding: 20px;
    transition: 0.3s ease-in-out;
  }

  .nav-menu li {
    margin: 10px 30px;
  }

  .nav-menu.active {
    left: 0;
  }
}
.btn-link {
  font-size: 14px;
  padding: 5px 7px;
  display: inline-block;
}
/* ================== CHART MUSIC INDEX ================ */
.music-list-chart {
  width: 100%;
  color: #a0a0a0;
}
.music-list-chart td {
  padding: 10px 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.05);
}
.chart-stt {
  min-width: 38px;
  opacity: 0.7;
  font-size: 32px;
  font-weight: 900;
  line-height: 1;
  text-align: center;
  color: rgba(74, 144, 226, 0);
  font-family: Arial, Helvetica, sans-serif;
  white-space: nowrap;
  -webkit-text-stroke: 1px #fff;
}
.stt-top-1 {
  -webkit-text-stroke: 1px #ff5159;
  opacity: 1;
}
.stt-top-2 {
  -webkit-text-stroke: 1px #4a90e2;
  opacity: 1;
}
.stt-top-3 {
  -webkit-text-stroke: 1px #50e3c2;
  opacity: 1;
}
.chart-thumbnail {
  width: 50px;
  margin-right: 10px;
}
.chart-thumbnail img {
  border-radius: 5px;
}
.chart-name {
  display: flex;
  flex-direction: column;
}
.chart-name .chart-title {
  font-weight: 700;
  color: #fff;
}
.chart-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.chart-action {
  color: #a0a0a0;
  font-size: 20px;
}
.chart-action span {
  cursor: pointer;
}
.anime-bubbe {
  position: relative;
}
.note {
  height: 10px;
  width: 10px;
  position: absolute;
  top: calc(50% - 5px);
  left: calc(50% - 5px);
  opacity: 0;
  -webkit-animation-name: bubble-1;
  animation-name: bubble-1;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-duration: 4.8s;
  animation-duration: 4.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
.note-2 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-name: bubble-2;
  animation-name: bubble-2;
}
.note-3 {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.note-4 {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
  -webkit-animation-name: bubble-2;
  animation-name: bubble-2;
}
@keyframes bubble-1 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translate(40px) rotate(-90deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg) translate(55px) rotate(-180deg) scale(1.3);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(70px) rotate(-260deg) scale(1.7)
      rotate(45deg) rotate(50deg);
  }
}
.note path {
  fill: #fff;
}
@keyframes bubble-2 {
  0% {
    opacity: 0;
    transform: rotate(90deg) translate(40px) rotate(-90deg);
  }
  50% {
    opacity: 1;
    transform: rotate(175deg) translate(57.5px) rotate(-175deg) scale(1.3)
      rotate(-50deg);
  }
  100% {
    opacity: 0;
    transform: rotate(260deg) translate(75px) rotate(-260deg) scale(1.7)
      rotate(45deg) rotate(-50deg);
  }
}

/* ============= SONG DETAILS CSS ================ */
.badge {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
  font-size: 12px;
  background-color: #ff5159;
}
.badge:hover {
  background-color: #a52a30;
}
.section-sm {
  padding-top: 15px !important;
}
.sm-container {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}
.song-thumbnail {
  width: 30%;
  margin-right: 20px;
}
.song-script {
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
}
.song-author {
  color: #4a90e2;
  margin-bottom: 10px;
}
.song-des {
  width: 40%;
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}
.song-order {
  width: 30%;
}
.song-left-right-details div {
  margin: 10px 0;
}
.song-left-right-details div span:first-child {
  width: 110px;
  display: inline-block;
}
.song-des div span:first-child {
  width: 120px;
  display: inline-block;
}
.heart-like {
  margin-top: 10px;
}
.heart-like i {
  font-size: 23px;
  color: #ff5159;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
}
.btn-buying {
  background-color: #00b423;
  color: #fff;
  transition: all 0.3s ease;
}
.btn-buying:hover {
  background-color: #007517;
}
.song-details {
  margin-bottom: 10px;
}
.song-details .song-more-des {
  line-height: 1.4;
  margin-top: 10px;
  font-size: 14px;
}

/* ============= CSS FOR NEWS ================== */
.tt-blog-head {
  position: relative;
  display: table;
  width: 100%;
  height: 660px;
  z-index: 100;
  padding: 60px 0;
}

.tt-blog-head::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://themebubble.com/demo/magplus/blogpro/wp-content/themes/magplus/img/slider/shadow_2.png);
  background-size: 100% 100%;
}

.tt-blog-head .tt-blog-head-inner {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-category {
  text-align: center;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-category span {
  display: inline-block;
  font-weight: 700;
  color: #fff;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-user .tt-blog-user-img img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-user .tt-blog-user-content {
  display: table-cell;
  font-size: 13px;
  line-height: 17px;
  font-weight: 600;
  color: #b5b5b5;
  vertical-align: middle;
  padding-left: 10px;
}

.tt-blog-head
  .tt-blog-head-inner
  .tt-blog-user
  .tt-blog-user-content
  .sp-author::after {
  content: "\2022";
  display: inline-block;
  padding-left: 4px;
  padding-right: 1px;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-user .tt-blog-user-content a {
  color: #fff;
}

.tt-blog-head .tt-blog-head-inner .tt-blog-user .tt-blog-user-content a:hover {
  color: #4169e1;
}

.tt-blog-description {
  max-width: 800px;
  margin: 30px auto 0 auto;
  opacity: 0.9;
}

.tt-blog-description .tt-blog-wrapper {
  font-size: 18px;
  line-height: 30px;
}

.bold {
  font-weight: 700;
}

.tt-devider {
  width: 100%;
  height: 1px;
  background: hsla(0, 0%, 100%, 0.07);
}

.author-flex {
  display: flex;
}

.author-flex .author-flex-img {
  display: block;
}

.author-flex .author-flex-img img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
  object-fit: cover;
}

.author-flex .author-flex-info {
  width: calc(100% - 70px);
  padding-top: 7px;
  padding-left: 10px;
  font-weight: 600;
  color: #999;
}
.author-flex-info .author-flex-text {
  color: #fff;
}
.author-flex .author-flex-info .simple-text {
  font-weight: 300;
}

@media (max-width: 767px) {
  .tt-blog-head {
    height: 480px;
  }

  .tt-blog-head .tt-blog-title {
    font-size: 30px !important;
    line-height: 40px !important;
    font-weight: 700;
  }
}

@media (max-width: 991px) {
  .tt-blog-head {
    height: 520px;
  }
}

.background-block {
  background-size: cover;
  background-position: center center;
}
.center {
  text-align: center;
}
.tag {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #eaeaea;
  padding: 3px 5px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.4s ease;
}

.tag:hover {
  background-color: #4169e1;
  color: #fff;
}
.empty-space {
  height: 30px;
}
.comment {
  display: block;
  padding: 5px 8px 7px 0;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  margin-bottom: 10px;
}
.comment-name {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1.1;
  text-transform: uppercase;
}
.comment span {
  color: #999;
  font-size: 12px;
}
.form-control {
  width: 100%;
  font-size: 13px;
  line-height: 38px;
  font-weight: 400;
  padding: 0 15px;
  outline: none;
  border: 1px solid #ddd;
}
ul {
  list-style: none;
}
.btn-create {
  background-color: #00b423;
  font-size: 14px;
}
.red {
  color: #ff5159;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 15px;
}
/* ============= ARTIST INFO CSS ================= */
.box {
  border: 1px solid hsla(0, 68%, 75%, 0.07);
  border-top: 2px solid #ff5159;
  padding: 10px 20px;
}
.artist-content {
  display: flex;
}
.artist-thumb {
  flex: 1;
}
.artist-info {
  flex: 2;
  line-height: 1.4;
}
.artist-follow {
  flex: 1;
}
.artist-follow .artist-follow-count span {
  font-weight: 800;
}
.artist-follow .artist-follow-count {
  margin-bottom: 10px;
}
.artist-info .artist-name {
  font-size: 30px;
}
.artist-span span:first-child {
  width: 110px;
  display: inline-block;
}
.btn-follow {
  background-color: rgb(68, 134, 233);
  transition: all 0.3s ease;
}
.btn-follow:hover {
  background-color: rgb(7, 61, 141);
}
.zm-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.zm-nav-info {
  font-weight: 400;
  margin: 0 auto;
  padding: 3px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(70, 28, 184, 0.336);
}
.zm-nav-info-item {
  padding: 0;
  font-size: 12px;
  line-height: 1;
  min-width: 100px;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  opacity: 0.8;
}
.zm-nav-info-item.active {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 7%);
  border-radius: 15px;
  background-color: rgba(201, 66, 235, 0.568);
}
.zm-nav-info-item a {
  display: block;
  padding: 7px 25px;
}
@media screen and (max-width: 768px) {
  .artist-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .artist-follow {
    margin-top: 15px;
  }
  .artist-info .artist-name {
    font-size: 30px;
    text-align: center;
  }
  .zm-nav-info {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .zm-nav-info-item {
    width: 100%;
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.media {
  padding: 10px 0;
  display: flex;
  align-items: center;
  text-align: left;
  user-select: none;
}
.media-thumb {
  display: block;
  overflow: hidden;
}
.media-thumb img {
  display: block;
  transition: all 0.3s ease;
}
.media-thumb:hover img {
  transform: scale(1.2);
  opacity: 0.7;
}
.media-left {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
}
.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  align-self: center;
}
.media-title,
.media-subtitle {
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  line-height: normal;
}
.media-title a {
  display: inline-block;
}
.media-subtitle {
  display: block;
  font-size: 12px;
  margin-top: 3px;
  color: hsla(0, 0%, 100%, 0.5);
}
.media-subtitle a:hover,
.media-title a:hover {
  color: #ff3399;
}
.is-40-40 {
  width: 40px;
  height: 40px;
}
.thumbnail-music {
  width: 60px;
  height: 60px;
  border: 2px solid #ddd;
}
.is-rounded {
  overflow: hidden;
  border-radius: 50% !important;
}

/* ================ CATEGORY CSS ================== */
.post-thumb {
  display: block;
  overflow: hidden;
  width: 100%;
}

.post-thumb img {
  width: 100%;
  display: block;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.post-thumb:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.light-text {
  color: #fff;
}

.title-end {
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.8;
  display: block;
  margin-bottom: 5px;
}

.line {
  border-top: 1px solid #eaeaea;
}

.post-category a {
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  color: #666;
}

.post-action {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #a8a8a8;
}

.tt-post-comment,
.tt-post-views {
  margin-right: 10px;
}

.tt-post-comment i,
.tt-post-views i {
  vertical-align: top;
  color: #ddd;
  margin-right: 4px;
}

.times {
  color: #b5b5b5;
  margin-bottom: 5px;
  font-size: 13px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* =============== CSS FOR MUSIC PLAYER =================== */
.player-control {
  height: 90px;
  min-width: 768px;
  padding: 0 20px;
  display: flex;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(
    -225deg,
    #29365f 0%,
    #5753c9 48%,
    #6e7ff3 100%
  );
  width: 100%;
  align-items: center;
  transform: translateY(100px);
  opacity: 0;
  transition: transform 0.3s ease;
}
body.listen .player-control {
  transform: translateY(0px);
  opacity: 1;
}
.player-control_left,
.player-control_right {
  position: relative;
  width: 30%;
  z-index: 1;
}
/* ============== change ============== */
.player-control_left .level-item {
  display: flex;
  align-items: center;
}
.player-control_left .level-item .media-right {
  margin-left: 30px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
}
.player-control_left .level-item .media-content {
  max-width: 190px;
  width: 100%;
  -webkit-mask-image: linear-gradient(290deg, transparent 0.5%, #000 10%);
}
.player-control_left .level-item .media-content .media-title {
  text-overflow: ellipsis;
}
.player-control_left .level-item .media-content .media-title:hover {
  transform: translateX(-286px);
  transition: transform 7.15s linear 0s;
}
.player-control_left .media {
  transform: translateX(20px);
}
.player-control_center {
  width: 40%;
}
.player_control_action {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  align-items: center;
}
.player_control_action i {
  display: inline-block;
  font-size: 25px;
  vertical-align: middle;
}
.player_control_action span {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
}
.player-control_left .thumbnail-music {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
body.playing .note {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}
body.playing .player-control_left .thumbnail-music {
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}
@media screen and (max-width: 768px) {
  .player-control {
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    align-items: center;
  }
  .player-control_left,
  .player-control_right {
    width: 100% !important;
  }
  .player-control_left .media {
    transform: translateX(0);
  }
  .player-control_center {
    width: 100%;
  }
  .player_control_action {
    display: block;
  }
  .thumbnail-music {
    width: 40px;
    height: 40px;
    border: 2px solid #ddd;
  }
}
/* ==================== CSS FOR CART ======================k */
.cart {
  width: 100%;
}
.btn-remove {
  background-color: #ff5159;
  padding: 3px 5px;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.btn-remove:hover {
  background-color: #af1d24;
}
.cart td {
  border-bottom: 1px solid #333;
}
.cart-bill {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
.cart-bill h2 {
  margin-right: 10px;
  font-size: 20px;
}
.cart-bill span {
  font-size: 19px;
}
.cart-order {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
  margin-top: 15px;
}
.btn-process {
  background-color: #4169e1;
  transition: all 0.3s ease;
}
.btn-process:hover {
  background-color: #16307e;
}

/* ============= ARTIST HERO ====================== */
.artist-hero {
  position: relative;
  width: 100%;
}
.artist-hero h3.title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.08px;
  margin-bottom: 5px;
}
.artist-hero .bio {
  font-size: 15px;
  line-height: 1.64;
  margin-bottom: 10px;
}
.artist-hero .blur {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  -webkit-filter: blur(50px);
  filter: blur(50px);
}
.artist-hero .hero-body {
  position: relative;
  z-index: 2;
  background-color: rgba(41, 21, 71, 0.8);
  padding: 70px 20px;
  width: 100%;
  height: 100%;
}
.columns {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.columns > .left {
  width: 58.33333%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.columns > .right {
  display: flex;
  justify-content: flex-end;
  width: 41.66667%;
}
.artist-hero-avatar {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  overflow: hidden;
}
.artist-hero-avatar img {
  width: 100%;
}
.artist-action {
  display: flex;
  align-items: center;
  font-size: 12px;
}
.btn-action {
  background-color: #7200a1;
  color: #fff;
  font-size: 14px;
  padding: 9px 24px;
  border-radius: 999px;
  text-align: center;
  cursor: pointer;
  position: relative;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  margin-right: 10px;
  transition: all 0.3s ease;
}
.btn-action:hover {
  background-color: #3c0155;
}
.btn-action i {
  font-size: 25px;
}
.artist-small-infor {
  margin-top: 10px;
}
.list-infor {
  display: flex;
  flex-direction: wrap;
}
.list-infor > li {
  margin-right: 10px;
}
/* ============ CSS FOR MODAL ================ */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1900;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.3s ease;
}
.modal.open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}
.modal .modal-content {
  background-color: #432275;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  padding: 20px;
  transform: translateY(-100px);
  transition: transform 0.2s ease;
}
.modal.open .modal-content {
  transform: translateY(0);
}
.modal-content .modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.modal-content .modal-header button {
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.modal-content .comment-content {
  width: 100%;
  max-height: 60vh;
  overflow-y: auto;
  margin-top: 10px;
  overflow-x: hidden;
}
.modal-content .comment-content::-webkit-scrollbar {
  width: 5px;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 5px;
}
.is-50-50 {
  width: 50px;
  height: 50px;
}
.media-time {
  color: hsla(0, 0%, 100%, 0.5);
  margin-left: 5px;
}
.text-message {
  font-size: 14px;
  word-break: break-all !important;
}
.text-message p {
  white-space: normal;
  line-height: 1.4;
}
.modal-action h3 {
  font-size: 14px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.5);
}
.modal-comment {
  position: relative;
  margin-top: 10px;
}
.modal-content .cmt {
  width: 100%;
  height: 40px;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
}
.btn-cmt {
  padding: 5px 7px;
  font-weight: 700;
  cursor: pointer;
  display: block;
  margin-top: 5px;
  background-color: rgb(53, 111, 219);
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s ease;
  border-radius: 4px;
}
.btn-cmt:hover {
  background-color: rgb(219, 53, 53);
}
/* ================ login css =================== */
.phanhoi-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1999;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  color: #333;
  padding-top: 100px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.phanhoi-container.actives-phanhoi {
  opacity: 1;
  visibility: visible;
}

.phanhoi-form {
  margin-top: 50px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.phanhoi-form .phanhoi-title {
  width: 100%;
  text-align: center;
}

.phanhoi-form .phanhoi-title img {
  width: 100%;
}

.phanhoi-form .phanhoi-bg {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
  padding: 30px;
  margin-top: -40px;
}
.phanhoi-form .phanhoi-bg .phanhoi-error {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: red;
}
.phanhoi-form .phanhoi-bg .phanhoi-end a {
  color: #2f6de0;
  font-weight: 600;
}
.phanhoi-form .phanhoi-bg .phanhoi-end a:hover {
  text-decoration: underline;
}
.phanhoi-form .phanhoi-bg .phanhoi-box {
  width: 100%;
  margin: 10px 0;
}

.phanhoi-form .phanhoi-bg .phanhoi-box input {
  width: 100%;
  border-radius: 7px;
  padding: 7px 9px;
  border: 1px solid #ddd;
  max-width: 100%;
  min-width: 99%;
}

.phanhoi-form .phanhoi-bg .phanhoi-box button[type="submit"] {
  width: 100%;
  padding: 6px 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: #3db1f5;
  border: 1px solid transparent;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.phanhoi-form .phanhoi-bg .phanhoi-box button[type="submit"]:hover {
  background-color: #15567c;
  color: #fff;
}

.phanhoi-form .phanhoi-bg .phanhoi-box a {
  display: inline-block;
  width: 50%;
  padding: 6px 0;
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: #f5623d;
  border: 1px solid transparent;
  font-weight: 700;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-decoration: none;
  text-align: center;
  color: #333;
}

.phanhoi-form .phanhoi-bg .phanhoi-box a:hover {
  background-color: #812c17;
  color: #fff;
}

.phanhoi-container.actives-phanhoi .phanhoi-form {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media only screen and (max-width: 768px) {
  .phanhoi-container {
    padding: 20px 10px;
  }
}
/* ================ css for dropdown menu ================  */
.avatar-menu img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.dropdown {
  position: relative;
}
.dropdown:hover {
  cursor: pointer;
}
.dropdown-menu {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  background: #1a191f;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 16px 0;
  border-radius: 10px;
  padding: unset;
  border: 0.125px solid #3b3847;
  right: 20%;
  top: 90%;
  z-index: 1;
  overflow-x: hidden;
  color: #fff;
}
.dropdown-expand {
  display: flex;
}
.notification-menu {
  min-width: 380px;
}
.dropdown-menu-content {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-menu-item {
  width: 100%;
}
.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #fff !important;
}
.dropdown-menu-link div {
  min-width: 50px;
  height: 50px;
  position: relative;
}
.dropdown-menu-link i {
  font-size: 1.25rem;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu-link span > span {
  font-size: 10px;
}
.dropdown-menu-link:hover {
  background: rgb(126, 126, 126);
}
@media only screen and (max-width: 768px) {
  .avatar-menu img {
    width: 40px;
    height: 40px;
  }
  .nav > .avatar-menu {
    margin-right: 10px;
  }
}
/* ================== CSS FOR PROFILE ===================== */
.profile-container {
  width: 100%;
  background-image: linear-gradient(-20deg, #2e6183 0%, #3c335c 100%);
  display: flex;
  padding: 15px 10px;
}
.profile-container .profile-avatar {
  width: 20%;
}
.profile-container .profile-avatar img {
  width: 210px;
  height: 210px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-container .profile-content {
  width: 80%;
}
@media only screen and (max-width: 768px) {
  .profile-container .profile-avatar img {
    width: 70px;
    height: 70px;
  }
}
/* ====================== CSS FOR DIARY ========================== */
.profile-controls {
  margin-top: 10px;
}
.profile-content {
  line-height: 1.6;
}
.profile-diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.diary-title {
  font-size: 40px;
  text-align: left;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.profile-diary-list .media {
  background: #242526;
  padding: 5px;
  align-items: flex-start;
  border: 2px solid #242526;
  border-radius: 3px;
  margin-bottom: 10px;
}
.profile-diary-list .media-title a {
  font-weight: 600;
}
.diary-times {
  margin-top: 10px;
  color: rgb(185, 185, 185);
}
.btn-block {
  background-color: #11a761;
  margin-right: 10px;
}
.btn-block i {
  margin-right: 5px;
}
.btn-block:hover {
  opacity: 0.6;
}
.bg-red {
  background-color: #ff5159 !important;
}
.btn-post {
  background-color: #118fd8;
  border-radius: 3px;
}
.btn-post i {
  margin-right: 4px;
}
.btn-post:hover {
  opacity: 0.5;
}
.profile-diary-list .media-title span {
  display: inline-block;
  color: #dbdbdb;
  font-style: italic;
  font-weight: 600;
}
.profile-diary-list .media-title span img {
  width: 30px;
  display: inline-block;
  vertical-align: middle;
}
.media-play {
  margin-left: 10px;
  margin-bottom: 2px;
}
.media-play span {
  font-style: italic;
}
.media-play a {
  display: inline-block;
  font-size: 13px;
  background: rgb(214, 40, 84);
  border-radius: 999px;
  padding: 5px 7px;
  margin-left: 5px;
  font-weight: 700;
  transition: all 0.3s ease;
}
.media-play a:hover {
  color: inherit;
  background: rgb(155, 3, 41);
}
/* ================ search css ================== */
.form-search {
  max-width: 500px;
  width: 100%;
  position: relative;
}
.form-search input {
  width: 100%;
  height: 40px;
  border: 1px solid #1f1f1f;
  background-color: #1f1f1f;
  border-radius: 999px;
  display: inline-block;
  padding: 0 20px 0 10px;
  outline: none;
  color: #ddd;
}
.form-search button {
  position: absolute;
  height: 40px;
  overflow: hidden;
  font-size: 28px;
  cursor: pointer;
  display: inline-block;
  top: 0;
  background: transparent;
  color: #fff;
  right: 0px;
  width: 40px;
  border: 1px solid transparent;
}
@media only screen and (max-width: 768px) {
  .form-search {
    display: none;
  }
}
@media only screen and (max-width: 1200px) {
  .form-search {
    max-width: 400px;
    margin-right: 20px;
  }
}
/* ============= tooltip css ================ */
.is-40-40 {
  border-radius: 6px;
}
.zm-tooltip {
  position: relative;
}
.zm-tooltip .zm-contextMenu {
  position: absolute;
  width: 280px;
  background-color: #432275;
  border-radius: 8px;
  position: absolute;
  z-index: 101;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  left: 10%;
  bottom: 120%;
  font-size: 14px;
  display: none;
}
.zm-tooltip.zm-active .zm-contextMenu {
  display: block;
}
.zm-tooltip .zm-contextMenu .media {
  padding: 10px 10px 0;
  transform: translateX(0px);
}
.zm-contextMenu .media-title {
  font-size: 14px;
}
.song-stats {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #a0a0a0;
}
.song-stats .stat-item {
  margin-right: 10px;
}
.song-stats .stat-item .icon {
  font-size: 14px;
  position: relative;
  top: 2px;
  margin-right: 2px;
}
ul.menu-list {
  display: flex;
  flex-direction: column;
}
ul.menu-list li i {
  margin-right: 15px;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
}
.zm-btn {
  width: 100%;
  padding: 10px 20px 10px 14px;
  font-size: 14px;
  line-height: normal;
  border: 0;
  display: inline-block;
  font-weight: 400;
  text-transform: none;
  text-align: left;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  word-break: normal;
  outline: none;
}
.zm-btn:hover {
  background-color: hsla(0, 0%, 100%, 0.1);
}
.group-button-menu {
  margin: 15px 0 10px;
  padding: 0 15px;
}
.group-button-menu .group-button-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: hsla(0, 0%, 100%, 0.1);
  border-radius: 8px;
  line-height: 1.5;
}
.group-button-menu .group-button-list .zm-btn {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  padding: 8px 0;
  font-size: 10px;
  max-width: 80px;
  line-height: 14px;
}
.group-button-menu .group-button-list .zm-btn i {
  font-size: 16px;
  margin-bottom: 4px;
}
.menu-list--submenu {
  position: relative;
}
.menu-list--submenu:hover .submenu-content.share-content {
  display: block;
}
.menu-list--submenu .submenu-content.share-content {
  display: none;
  top: 100%;
  transform: translateY(-100%);
}
.menu-list--submenu .submenu-content {
  position: absolute;
  width: 230px;
  background-color: #432275;
  box-shadow: 0 0 5px 0 rgb(0 0 0 / 20%);
  border-radius: 8px;
  left: calc(100% - 15px);
  top: -10px;
  z-index: 1;
  padding: 10px 0;
}
.add-lyric-content {
  color: #fff;
  font-size: 14px;
  width: 100%;
  height: 250px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  resize: none;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, 0.03);
  display: flex;
  align-items: center;
  justify-content: center;
}
.add-lyric-content textarea {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 12px 14px;
  background-color: transparent;
  resize: none;
  line-height: 1.8;
}
.add-lyric-content textarea::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.add-lyric-content textarea::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  height: 30px;
}
/* ============== CSS FOR NEW POST FORM =================== */
.feeling {
  display: flex;
  justify-content: center;
  align-items: center;
}
.feeling-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0.4;
  user-select: none;
}
.feeling-item.active {
  opacity: 1;
}
.feeling-item img {
  width: 40px;
}
.div-story {
  margin-top: 10px;
}
.div-story textarea {
  width: 100%;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  outline: none;
  resize: none;
  border-radius: 5px;
  padding: 5px 8px;
  margin-top: 5px;
}
.btn-search-song {
  color: #fff;
  font-size: 14px;
  padding: 9px 24px;
  background-color: hsla(0, 0%, 100%, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 999px;
  text-align: center;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  width: 100%;
  transition: all 0.3s ease;
}
.btn-search-song:hover {
  background-color: hsla(0, 0%, 100%, 0.4);
}
.btn-search-song i {
  margin-right: 10px;
}
.btn-add-post {
  display: inline-block;
  cursor: pointer;
  padding: 5px 20px;
  margin-top: 20px;
  background-color: rgb(169, 154, 255);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
}
/* ================= CSS FOR THEME CHOOSE SONG ================= */
.theme-choose-song {
  position: fixed;
  z-index: 1999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-right: 10px;
  padding-left: 10px;
  transform: translateX(100%);
  transition: transform 0.4s ease;
}
.theme-choose-song.open {
  transform: translateX(0);
}
.form-choose-song {
  max-width: 500px;
  width: 100%;
}
.form-choose-song h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
}
.form-choose-song form {
  position: relative;
}
.form-choose-song form input {
  width: 100%;
  border-radius: 999px;
  height: 50px;
  border: 1px solid #ddd;
  outline: none;
  padding: 5px 55px 0px 10px;
}
.form-choose-song form i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #444;
  font-size: 30px;
}
.form-choose-song-end {
  margin-top: 50px;
  text-align: right;
}
.form-choose-song-end .zm-btn-close {
  display: inline-block;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 20px;
  background-color: rgb(169, 154, 255);
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  border-radius: 999px;
  transition: all 0.4s ease;
}
.form-choose-song-end .zm-btn-close i {
  display: inline-block;
  vertical-align: middle;
  font-size: 19px;
}
.form-choose-song-end .zm-btn-close:hover {
  background-color: rgb(117, 114, 139);
}
.form-choose-song .form-result {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: -2px auto 0 auto;
}
.form-choose-song .form-result-table tr {
  cursor: pointer;
}
.form-choose-song .form-result-table td {
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 7px 10px;
  user-select: none;
  transition: all 0.3s linear;
}
.form-choose-song .form-result-table tr td:first-child {
  width: 70px;
}
.form-choose-song .form-result-table td .title {
  font-weight: 600;
}
.form-choose-song .form-result-table td span {
  font-size: 13px;
}
.form-choose-song .form-result-table td.form-check {
  width: 40px;
  text-align: right;
}
.form-choose-song .form-result-table td.form-check i {
  font-size: 20px;
  opacity: 0;
}
.form-choose-song .form-result-table td.form-check.check i {
  opacity: 1;
}
.form-choose-song .form-result-table tr:hover td {
  background-color: hsla(0, 0%, 100%, 0.4);
}
/* ============= css for week chart ================= */
.section-chart {
  position: relative;
  padding: 40px;
}
.section-top{
  position: relative;
  width: fit-content;
  text-transform: capitalize;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 800;
  line-height: normal;
}
.section-chart .bg-blur {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  background: url('./week-chart-bg.edf332e5.jpg') top/cover no-repeat;
  filter: grayscale(1);
}
.section-chart .bg-alpha{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(32,19,53,0.9);
}
.section-header{
  position: relative;
}
.week-chart{
  position: relative;
  background-color: hsla(0,0%,100%,0.05);
  padding: 20px 10px;
  border-radius: 16px;
  margin-bottom: 15px;
}
.week-chart .chart-header{
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 40px;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.list-week-chart{
  padding: 10px 5px;
}
.show-all{
  border-radius: 999px;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  padding: 8px 25px;
}
.show-all:hover{
  background-color: hsla(0,0%,100%,0.1);
}
.is-center {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}
.list-week-chart td{
  padding: 5px 0;
}
.list-week-chart tr:hover td{
  background-color: hsla(0,0%,100%,0.1);
}
/* ================ NEWSS CSS ================== */
.news-item img{
  border-radius: 10px;
}
.news-item .news-item-content .news-item-catgeory{
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.news-item .news-item-content .news-item-catgeory .span-category{
  margin-right: 10px;
}
.news-item .news-item-title{
  transition: all 0.3s ease;
}
.news-item:hover .news-item-title{
  color: #db4e16;
}
/* ========================= play list ==================== */
.playlist{
  background-color: hsla(0,0%,100%,.1);
  border-radius: 4px;
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  border: 1px solid transparent;
  font-weight: 500;
  color: #fff;
}
.playlist i{
  font-size: 20px !important;
}
.playlist.active{
  background-color: #9e4fc0;
}
.divide{
  width: 1px;
  height: 33px;
  display: block;
  margin: 0 20px;
  background-color: hsla(0,0%,100%,0.4);
}
/* ==================== navbar right =============== */
.playlist-navbar{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 90px;
  width: 320px;
  z-index: 102;
  background-color: rgb(31, 52, 119);
  transform: translateX(320px);
  transition: transform 0.3s ease;
  overflow-y: auto;
}
.playlist-navbar::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
  border-radius: 5px;
}
.playlist-navbar::-webkit-scrollbar-thumb {
  background: rgb(154, 180, 228);
  border-radius: 10px;
}
.playlist-navbar.open{
  transform: translateX(0px);
}
.playlist-container{
  width: 100%;
}
.playlist-container .playlist-header{
  text-align: center;
  margin-top: 15px;
  padding: 14px 0;
  letter-spacing: 1px;
  border-radius: 999px;
  padding: 5px 0;
  cursor: pointer;
  background-color: hsla(0,0%,100%,0.1);
}
.is-30-30{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.playlist-content{
  width: 100%;
  overflow-x: hidden;
}
.playlist-content-item{
  padding: 0 10px;
}
.playlist-content-item:hover{
  background-color: rgb(81, 124, 211);
}
.ms-play{
  position: relative;
  display: inline-block;
}
.ms-play .btn-bs-play{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 22px;
  transform: translate(-50%,-50%);
  display: none;
}
.playlist-content-item:hover .thumbnail-music{
  opacity: 0.6;
}
.playlist-content-item:hover .media-content{
  opacity: 0.6;
}
.playlist-content-item:hover .ms-play .btn-bs-play{
  display: flex;
  opacity: 1 !important;
}
.playlist-navbar .media-title, .media-subtitle {
  white-space: unset;
}